.auth-form {
    color: #41403E;
    width: 20rem;
    max-width: 80%;
    margin: 3rem auto;
    border: solid 1px #e8e8e8;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    box-shadow: 20px 38px 34px -26px rgba(58, 54, 54, 0.2);
    padding: 0 2rem;
}
.auth-label h1 {
    font-weight: normal;
    font-style: italic;
    font-family: 'Sigmar One', cursive;
    text-align: center;
    color: #41403E;
}


.auth-error,
.auth-msg {
    border: solid 1px #e8e8e8;
    position: relative;
    max-width: 23rem;
    min-width: 15rem;
    margin: 2rem auto;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    box-shadow: 22px 30px 34px -20px rgba(58, 54, 54, 0.2);
}
.auth-error::before,
.auth-msg::before {
    width: 10%;
    height: 98%;
    position: absolute;
    bottom: 0px;
    left: 1px;
    display: flex;
    color: #41403E;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-right: dotted 1px #41403E;
    border-top-left-radius: 255px 15px;
    border-bottom-left-radius: 15px 255px;
    box-sizing: border-box;
}
.auth-error::before {
    content: 'ERR';
    background-color: #ff9b9b;
}
.auth-msg::before {
    content: 'MSG';
    background-color: #b1efa2;
}
.auth-error::after,
.auth-msg::after {
    content: '';
    width: 2%;
    height: 98%;
    position: absolute;
    bottom: 0;
    right: 1px;
    border-left: dotted 1px #41403E;
    border-top-right-radius: 15px 255px;
    border-bottom-right-radius: 25px;
}
.auth-error::after {
    background-color: #ff9b9b;
}
.auth-msg::after {
    background-color: #b1efa2;
}
.auth-error-msg,
.auth-msg-message,
.auth-error-msg p,
.auth-msg-message {
    color: #41403E;
    font-size: 1rem;
    text-align: center;
    margin: 0.8rem 0;
}