.auth-form {
    color: #41403E;
    width: 20rem;
    max-width: 80%;
    margin: 10rem auto;
    border: solid 1px #e8e8e8;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    box-shadow: 20px 38px 34px -26px rgba(58, 54, 54, 0.2);
    padding: 0 2rem;
}

.auth-label h1 {
    font-weight: normal;
    font-style: italic;
    font-family: 'Sigmar One', cursive;
    text-align: center;
    color: #41403E;
}
